<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>About Us</title>
    {% endblock %}
</head>
<body>
{% block body %}
<div class="about" style="background-image:url({% static 'ico/backg.jpg' %});">

<h1 style="color:pink" align="center"> About Us</h1><br>


<p>
    We, “La Firangi (A Brand of Malhotra Integrators)”, are the leading name in the market
    established in the year 2010, at Delhi, (Delhi, India). We are the most appreciated
    Manufacturer, Wholesaler, Trader and Retailer of ladies
    garments like Ladies Kurtis, Ladies Legging, Ladies Salwar, etc. All these ladies garments
    are designed by our fashion experts with the use of best quality fabrics, design, and
    colors. Our offered ladies garments are fancy, eye-catching and available in many sizes to
    choose from.Our customers can buy these amazing ladies garments from us at affordable prices.
</p>
<p>
    We have constructed a very large in-house infrastructure that is modern, spacious and
    well equipped with best machines that help our designers to choose and design these ladies
    garments with perfections. From our first stage of creating these ladies garments till the
    delivery, all the processes are divided into many sub-departments and handled under the
    guidance of managers. We totally understand the current market standards and trends and
    offer the best-looking ladies garments to our customers at lowest rates. We are available
    online as well with all our ladies garments with all our ladies garments with up to date
    rates, images and offers that help our customers to choose and buy them easily from us.
    We offer our customers many pleasing services like free shipping, safe payment mode and
    order tracking features to keep them delighted with us.
</p>
<p>
    We have gained a huge popularity in the market creating the world class ladies garments at
    affordable rates. We work under the headship of Mr. Piyush Malhotra(Managing Director)
    ¿¿¿and¿¿¿ Ms. Reshma Kashyap (Business Development Manager His creativity and dedication
    help us to serve our customers in the best manner keeping them contended.
</p><br>
<h1 style="color:pink" align="center"> Why Us???</h1>
<p>
  We, “Malhotra Integrators”, are the preeminent name in the market offering best array of ladies garments like Ladies Kurtis, Ladies Legging, Ladies Salwar, etc.

</p>
</div>
<br>
        <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Services and Facilities</span></h5>
                </div>
            </div>
        </div>
<h6 class="about-text">All these garments are breathable, fancy and available with many pleasing services like:</h6>
    <div class="container">
        <div class="row">
       <div style="text-align:center">
        <img class="half-page-image" src="{% static 'ico/24ass.jpg' %}">
        <img class="half-page-image" src="{% static 'ico/proof.png' %}">
        <img class="half-page-image" src="{% static 'ico/free.jpg' %}">
         <img class="half-page-image" src="{% static 'ico/fast.png' %}">
           <img class="half-page-image" src="{% static 'ico/centric.jpg' %}">
            </div>
        </div>
    </div>
<br>
<br>
<br>
        <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Payment Modes</span></h5>
                </div>
            </div>
        </div><br>
    <div class="container">
        <div class="row">
       <div style="text-align:center">

          <td><img class="half-page" src="{% static 'ico/creditcard.jpg' %}" ></td>
        <td><img class="half-page" src="{% static 'ico/cheque.png' %}"></td>
       <td> <img class="half-page" src="{% static 'ico/cash.png' %}"></td>
       <td>  <img class="half-page" src="{% static 'ico/online.png' %}"></td>

            </div>
        </div>
        <br>
        <br>

          <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Nature Of BUSINESS</span></h5>
                </div>
            </div>
        </div>
        <div class="circle1" align="center">
           <p> Manufacturer</p>
            <p> Trader</p>
            <p> Retailer</p>
            <p> Wholesaler</p>
</div>
 <br>
<br>
        <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Quality Assurance</span></h5>
                </div>
            </div>
        </div>
<div class="quality">
    <img src="{% static 'ico/quality.jpg' %}" align="right">
    <br>

<p>
   Quality is the most significant reason behind the success and growth
    of our organization. For us, quality is the most imperative thing which
    we keep in our mind while manufacturing the extensive assortment of the products.
    Quality auditors strictly examine each product through various well-defined parameters
    in order to avoid any kind of imperfection.
    They make sure that the fabric utilized for manufacturing these products is procured from certified vendors of the industry. Our quality auditors are an asset to our firm.
</p>
</div>
    <br><br>
    <br><br>
        <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Statutory Profile</span></h5>
                </div>
            </div>
        </div>
    <h1> </h1>
<table border="5" align="center">
    <tr>
        <td> <img src="{% static 'ico/bnk.jpg' %}"></td>
        <a href=""><th>ICICI BANK LIMITED</th></a>
    </tr>
        <tr>
        <th> GST No.</th>
        <th>07BQMPM9574L1ZV</th>
    </tr>

</table>
<br>

<br>



<p></p>
        <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Brands we Deal In</span></h5>
                </div>
            </div>
        </div>
<table border="5" align="center" cellpadding="10px" cellspacing="10px">
            <tr>
<td><h5> Trading Brand</h5></td>
   <td> <h5>Manufacturer Brand: </h5></td>
            </tr>
            <tr>
                <td><ul>Silouettes</ul>
   <ul> Malhotra Integrators</ul></td>

            <td>La Firangi</td>
      </tr>
            </table>
<br>
                <div class="featured-products">
            <div class="container">
                <div class="row">
                    <h5 class="heading"><span>Our Team</span></h5>
                </div>
            </div>
        </div>
        <div class="quality">
    <img src="{% static 'ico/team.jpg' %}" align="right">
    <br>
<p>
    We have appointed a team of dexterous professionals who work
    dedicatedly to achieve set organizational objectives. Owing to
    the dedicated efforts of our workforce, we are able to provide a
    qualitative range of apparels in accordance with detailed specifications
    of our esteemed patrons. Without their hard work and efforts, the expansion
    of our firm would never have been possible. Our professionals work day
    and night to spread the glory of our firm across the market.
</p>
        </div>
{% endblock %}
</body>
</html>