{% extends 'productdetails.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Add Address</title>
    {% endblock %}
</head>
<body>
{% block body %}

    <div class="container-fluid" style="margin-top: -18vh">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-1">
                    <div class="addAdress">
                        <form method="post" action="#">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 style="font-weight: 300">Add Address</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="inputBox">
                                        <div class="inputText">Full Name*</div>
                                        <input type="text" name="name" class="input" required>
                                         <span class="hint">e.g. xyz abc</span>
                                    </div>
                                </div>

                                <!--    <div class="col-sm-6">
                                        <div class="inputBox">
                                            <div class="inputText">Last Name</div>
                                            <input type="text" name="" class="input">
                                        </div>
                                    </div>-->
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                     <div class="inputBox">
                                         <div class="inputText">Email*</div>
                                         <input type="email" name="email" class="input"  required>
                                         <span class="hint">e.g. xyz@any.com</span>
                                     </div>
                                 </div>


                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <div class="inputText">Mobile*</div>
                                        <input type="text" name="mobile" class="input" required maxlength="10">
                                        <span class="hint">e.g. 7291xxxxxx</span>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="inputBox">
                                        <div class="inputText">Address(House No, Apartment, Street Name)*</div>
                                        <input type="text" name="address" class="input" required>
                                        <span class="hint">e.g. 256 Shiva Enclave Dahisar Road</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <div class="inputText">City*</div>
                                        <input type="text" name="city" class="input" required>
                                        <span class="hint">e.g. New Delhi</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="inputBox">
                                    <select class="input" name="state">
                                        <option value="haryana">Haryana</option>
                                        <option value="delhi">Delhi</option>
                                        <option value="punjab">Punjab</option>
                                        <option value="up">Utter Pardesh</option>
                                        <option value="mp">Madhya Pardesh</option>
                                        <option value="mh">Maharastra</option>
                                        <option value="rj">Rajasthan</option>
                                        <option value="hm">Himachal</option>
                                    </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <div class="inputText">Pincode*</div>
                                        <input type="text" name="pin" class="input" maxlength="6" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-dark rounded-pill py-2 btn-block" style="font-size: 20px">Add Address</button>
                                </div>
                            </div>
                        </form>
                        {% if messages %}
                            {% for i in messages %}
                                {{ i }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
</body>
</html>
