{% extends 'productdetails.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Add Product</title>{% endblock %}
</head>
<body>
{% block body %}
    <div class="container" style="margin-top: -18vh">
        <div class="row">
            <div class="col-lg-10 offset-1">
                <div class="addAdressFixed">
                    <form method="post" action="#" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 style="font-weight: 300">Add New Product</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed">Product Id*</div>
                                    <input type="text" name="id" class="inputFixed" required>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed">Product Name*</div>
                                    <input type="text" name="name" class="inputFixed" required>
                                    <span class="hint">e.g. Castrol GTX 10W-40 Conventional Motor Oil</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed">Description*</div>
                                    <input type="text" name="description" class="inputFixed" required>
                                    <span class="hint">e.g. Detail About Product</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed" style="white-space: nowrap">Select Category</div>
                                    <select class="inputFixed" name="cat">
                                        {% for i in Cat %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed">Brand*</div>
                                    <input type="text" name="brand" class="inputFixed" required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed" style="white-space: nowrap;">Select Size</div>
                                    <select class="inputFixed" name="size">
                                        {% for i in Siz %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed">Base Price*</div>
                                    <input type="text" name="basicPrice" class="inputFixed" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputBoxFixed">
                                    <div class="inputTextFixed">Discount Rate*</div>
                                    <input type="text" name="discount" class="inputFixed" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <input type="file" name="img1" class="input">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <input type="file" name="img2" class="input">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-dark rounded-pill py-2 btn-block"
                                        style="font-size: 20px">Add Product
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <a href="/adminpage/" class="btn btn-dark rounded-pill py-2 btn-block"
                                   style="font-size: 20px">Back To Admin</a>
                            </div>
                        </div>
                </form>
                {% if messages %}
                    {% for i in messages %}
                        {{ i }}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
    </div>



{% endblock body %}

</body>
</html>
