{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<head>
    {% block title %}<title>Pending Orders</title>{% endblock %}
</head>
{% block body %}
        <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row">


                    <div class="  col-sm-12 col-lg-10 offset-1 bg-white bg-light px-4 text-uppercase">
                        <!--Available Address-->
                        <div class="p-3 bg-white rounded shadow-sm">
                            {% if  datacount  != 0 %}
                            <div class="bg-dark text-white px-4 py-3 text-uppercase font-weight-bold">Cancellation Pending
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Size</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">&nbsp;</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="checkout-address" style="font-weight: 500">
                                    {% for i in CData %}
                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-3">
                                                    <img src="{{ i.order_product.img1.url }}"
                                                         alt="{{ i.id }}" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-1 d-inline-block align-middle"
                                                         style="width: 58%; white-space: nowrap;overflow : hidden;text-overflow: ellipsis;resize: horizontal">
                                                        <h5 class="mb-0"><a href="#"
                                                                            class="text-dark d-inline-block align-middle"
                                                        >
                                                            {{ i.order_product.name }}</a></h5>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="border-0 align-middle">
                                                <strong>
                                                    &#8377; {{ i.order_product.price }}
                                                </strong>
                                            </td>
                                            <td class="border-0 align-middle" style="text-align: center">
                                                <strong>
                                                    {{ i.order_product.size }}
                                                </strong>
                                            </td>
                                            <td class="border-0 align-middle" style="text-align: center">
                                                <strong>
                                                    {{ i.count }}
                                                </strong>
                                            </td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            {% endif %}
                            <div class="bg-dark text-white px-4 py-3 text-uppercase font-weight-bold">Pending Orders
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Size</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-1 text-uppercase">&nbsp;</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="checkout-address" style="font-weight: 500">
                                    {% for i in Data %}
                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-3">
                                                    <img src="{{ i.order_product.img1.url }}"
                                                         alt="{{ i.id }}" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-1 d-inline-block align-middle"
                                                         style="width: 58%; white-space: nowrap;overflow : hidden;text-overflow: ellipsis;resize: horizontal">
                                                        <h5 class="mb-0"><a href="#"
                                                                            class="text-dark d-inline-block align-middle"
                                                        >
                                                            {{ i.order_product.name }}</a></h5>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="border-0 align-middle">
                                                <strong>
                                                    &#8377; {{ i.order_product.price }}
                                                </strong>
                                            </td>
                                            <td class="border-0 align-middle" style="text-align: center">
                                                <strong>
                                                    {{ i.order_product.size }}
                                                </strong>
                                            </td>
                                            <td class="border-0 align-middle" style="text-align: center">
                                                <strong>
                                                    {{ i.count }}
                                                </strong>
                                            </td>
                                            <td class="border-0 align-middle">
                                                <strong>
                                                    <a class="btn btn-dark" href="/cancelorder/{{ i.ordernumber }}/" style="white-space: nowrap">Cancel Order</a>
                                                </strong>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




<!-- ##### Main Content Wrapper End ##### -->
{% endblock %}
</html>
