{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
</head>
<body>
{% block body %}
<div class="shop-content">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-3 col-sm-4">
                            <div class="side-widget space50">
                                <form role="form" class="search-widget">
                                    <input class="form-control" type="text">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="side-widget">
                                <h3><span>Shop by</span></h3>
                                <h5>Categories</h5>

                                     {% for i in Cat %}
                                    <ul>
                                         <li><a href="/shop/{{i.cname}}/">{{i.cname}}   </a></li>
                                    </ul>
                        {% endfor %}




                                <div class="clearfix space20"></div>
                                <h5>Size Options</h5>
                                 {% for i in Siz %}
                                    <ul>
                                         <li><a href="/shop2/{{i.sname}}/">{{i.sname}}   </a></li>
                                    </ul>
                        {% endfor %}
                            </div>


                        </aside>

                    </div>





                            </div>

                        </div>



        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p>Showing 1-8 0f 25</p>
                                <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Sorting -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h3>{{No}}</h3>

                {% for i in Data %}
                    <!-- Single Product Area -->
                    <div class="col-sm-4">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{i.img1.url}}" height="288px" width="216px" alt="">

                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{i.basicPrice}}</p>

                                        <div class="clearfix space20"></div>


                            </div>


                                    <a href="/productdetails2/{{i.id}}/{{i.size}}/">
                                        <h6>{{i.name}}</h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a href="/product/{{i.id}}/" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="{% static 'img/core-img/cart.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                <li class="page-item"><a class="page-link" href="#">02.</a></li>
                                <li class="page-item"><a class="page-link" href="#">03.</a></li>
                                <li class="page-item"><a class="page-link" href="#">04.</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
</body>
</html>
