<!doctype html>
{% extends 'productdetails.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
    {% block title %}
  <title>Signup</title>
    {% endblock %}
</head>
{% block body %}

     <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The content half -->
            <div class="col-sm-6 mx-auto bg-light">
                <div class=" align-items-center py-5">

                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <h3 class="display-4 text-center">Sign Up</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Username" name="uname" required=""
                                               autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        <span class="hint">e.g. JohnWick</span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="First Name" name="first_name" required=""
                                               autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        <span class="hint">e.g. John</span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="text" placeholder="Last Name" name="last_name" required=""
                                               autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        <span class="hint">e.g. Wick</span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="email" placeholder="Email Address" name="email" required=""
                                               autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        <span class="hint">e.g. johnwick@mail.com</span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="password" placeholder="Password" name="pward" required=""
                                               class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                        <span class="hint"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="password" placeholder="Confirm Password" name="cpward" required=""
                                               class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    </div>
                                    <!--<div class="custom-control custom-checkbox mb-3">
                                        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                        <label for="customCheck1" class="custom-control-label">Remember password</label>
                                    </div>-->
                                    <button type="submit"
                                            class="btn btn-custom btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                                            style="width: 100%">Sign up
                                    </button>
                                    <div class="text-center d-flex justify-content-between mt-4">
                                        <a href="/register/" class="font-italic text-muted">Already have an account CLICK HERE</a>
                                    </div>
                                </form>
                                {% if messages %}
                                    <div class="alert alert-danger">
                                        {% for i in messages %}
                                            {{ i }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- End -->

                </div>
            </div><!-- End -->

        </div>
    </div>
{% endblock %}
</body>
</html>
